In [1]:
seq = [1,2,3,4,5]

In [2]:
def times2(i):
    return i*2

# MAP FUNCTION

In [3]:
map(times2,seq)

In [4]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

# LAMBDA EXPRESSION

In [5]:
def times2(i):
    return i*2

In [6]:
#so the above function in lambda can be written as 
lambda i : i*2

In [7]:
t = lambda i : i*2

In [8]:
t(6)

12

In [9]:
#finding square of a sequence using lambda function

In [10]:
sequ = [1,2,3,4,5]

In [11]:
d = list(map(lambda x : x**2,sequ))

In [12]:
d

[1, 4, 9, 16, 25]

# FILTER FUNCTION

In [13]:
filter(lambda x : x <= 3,sequ)

In [14]:
list(filter(lambda x : x <= 3,sequ))

[1, 2, 3]

# METHODS

In [15]:
s = 'hello! i am #super'

In [16]:
s.capitalize()

'Hello! i am #super'

In [17]:
s.lower()

'hello! i am #super'

In [18]:
s.upper

In [19]:
s.upper()

'HELLO! I AM #SUPER'

In [20]:
s.split()

['hello!', 'i', 'am', '#super']

In [21]:
s.split('!')

['hello', ' i am #super']

In [22]:
s.split('#')

['hello! i am ', 'super']

In [23]:
s.split('#')[1]

'super'

# METHODS ON DICTIONARY

In [24]:
d = {'k1':'1','k2':'2'}

In [25]:
d

{'k1': '1', 'k2': '2'}

In [26]:
d.items()

dict_items([('k1', '1'), ('k2', '2')])

In [27]:
d.values()

dict_values(['1', '2'])

In [28]:
d.keys()

dict_keys(['k1', 'k2'])

#  METHODS ON LIST

In [29]:
lst = [1,2,3,4,5]

In [30]:
lst.pop()

5

In [31]:
lst

[1, 2, 3, 4]

In [32]:
lst = [1,2,3,4,5]

In [33]:
lst

[1, 2, 3, 4, 5]

In [34]:
item = lst.pop()  # the last value in the list will be assigned to item

In [35]:
item

5

In [36]:
lst.append('new')

In [37]:
lst

[1, 2, 3, 4, 'new']

# IN OPERATOR

In [39]:
'x' in [1,2,3]

False

In [40]:
'x' in ['x','y','z']

True

# TUPLE UNPACKING

In [41]:
x = [(1,2),(3,4),(5,6)]

In [43]:
for i in x:
    print (i)

(1, 2)
(3, 4)
(5, 6)

In [44]:
for (a,b) in x:
    print (a)

1
3
5

In [45]:
for (a,b) in x:
    print (b)

2
4
6

In [47]:
for (a,b) in x:
    print (a)
    print (b)

1
2
3
4
5
6