In [1]:
age = 12
name = "aakash"

In [3]:
'my name is {} and i am {} years old'.format(name,age)

'my name is aakash and i am 12 years old'

In [6]:
'my name is {one} and i am {two} years old , more {one}'.format(one = name,two = age)

'my name is aakash and i am 12 years old , more aakash'


# INDEXING IN PYTHON 
# IT STARTS FROM 0 and from end -1

In [7]:
s = 'hello'

In [8]:
s[0]

'h'

In [9]:
s[-1]

'o'

In [10]:
s[-5]

'h'

In [11]:
s[0:] # : means start at 0 and print everything after that

'hello'

In [16]:
s[0:4] # here start from 0 and end at 4 but 4 is not included

'hell'

In [17]:
s[:3]

'hel'

# LIST

In [18]:
[1,2,3]

[1, 2, 3]

In [19]:
my_list = ['a','b','c']

In [23]:
my_list.append('d')

In [24]:
my_list

['a', 'b', 'c', 'd', 'd', 'd']

In [26]:
drop my_list

SyntaxError: invalid syntax (<ipython-input-26-bb602b22e988>, line 1)

In [27]:
my_list = ['a','b','c']

In [28]:
my_list

['a', 'b', 'c']

In [29]:
my_list.append('d')

In [31]:
my_list

['a', 'b', 'c', 'd']

In [33]:
my_list[0]

'a'

In [34]:
my_list[0:2]

['a', 'b']

In [35]:
my_list[0] = 'NEW'

In [36]:
my_list

['NEW', 'b', 'c', 'd']

# NESTING LISTS

In [37]:
nest = [1,2,[3,4]]

In [38]:
nest

[1, 2, [3, 4]]

In [39]:
nest[2]

[3, 4]

In [40]:
nest[2][1]

4

In [41]:
nest [2][0]

3

In [42]:
nest = [1,2,[3,4,['target']]]

In [46]:
nest[2]

[3, 4, ['target']]

In [47]:
nest[2][2]

['target']

In [48]:
nest = [1,2,3,4,5,6,[7,8,['target','aakash',['last']]]]

In [50]:
nest[6]

[7, 8, ['target', 'aakash', ['last']]]

In [51]:
nest[6][2]

['target', 'aakash', ['last']]

In [52]:
nest[6][2][2]

['last']

In [53]:
nest[6][2][2][0]

'last'

In [54]:
my_list = [1,2,3,4,[3,4,[5]]]

In [55]:
my_list

[1, 2, 3, 4, [3, 4, [5]]]

In [56]:
my_list[1]

2

In [57]:
my_list[4]

[3, 4, [5]]

In [58]:
my_list[4][2][0]

5

# DICTIONARIES

In [59]:
d = {'key1':'value','key2':123}

In [60]:
d{'key1'}

SyntaxError: invalid syntax (<ipython-input-60-c9aa42bc4c7d>, line 1)

In [61]:
d['key1']

'value'

In [62]:
d = {'key1':'value','key2':123}

In [63]:
d['key2']

123

In [64]:
d = {'k1':[1,2,3]}

In [66]:
d['k1']

[1, 2, 3]

In [67]:
my_list2 = d['k1']

In [68]:
my_list2

[1, 2, 3]

In [74]:
my_list2[0]

1

# __NESTED DICTIONARIES__

In [70]:
d = {'k1':{'innerdic':[1,2,3]}}

In [71]:
d['k1']

{'innerdic': [1, 2, 3]}

In [73]:
d['k1']['innerdic'][0]

1

# TUPLES

In [75]:
t = (1,2,3)

In [76]:
my_list3 = [1,2,3]

In [77]:
my_list3[0] = 'new'

In [78]:
my_list3

['new', 2, 3]

In [80]:
t[0] = 'new' #so from here we can know that the values inside the tuple cannot be changed uliike list the value inside a list can be changed by the user

TypeError: 'tuple' object does not support item assignment

# SETS

In [81]:
{1,2,3}

{1, 2, 3}

In [83]:
{1,1,1,1,1,2,2,2,2,2,2,2,3} #a set is only defined by unique elements

{1, 2, 3}

In [85]:
set({1,1,1,1,1,1,2,2,2,2,3,3,3}) #you can make a set function to define the unique elements

{1, 2, 3}

In [87]:
s = {1,2,3,4,5}

In [89]:
s.add(6)

In [90]:
s

{1, 2, 3, 4, 5, 6}

# COMPARISON OPERATOR

In [1]:
1<2

True

In [2]:
2<1

False

In [3]:
2 !< 1

SyntaxError: invalid syntax (<ipython-input-3-52cf9bd0b2c7>, line 1)

In [4]:
3<2

False

In [5]:
3 == 2

False

In [6]:
3 != 2

True

In [7]:
1 < 2 and 2<3

True

In [14]:
1>2 and 2<3

False

# IF ELSE AND ELIF STATEMENTS

In [15]:
x = input('enter x')
y = input('enter y')

enter x4
enter y4

In [19]:
if x<y:
    print ('right')
elif x == y:
    print ('mid')
elif x>y:
    print('left')
else:
    print ('BYE')

mid